<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">GoTo.Client für Mitfahren und Öffis</h1>
      <p class="lead text-muted">
        Willkommen zu GoTo.Client! GoTo ist eine Kombination eines Alexa-Skills und einer Weboberfläche, wo Mitfahrten
        organisiert werden können und öffentliche Verkehrsmittel genutzt werden können.
      </p>
      <p>
        <a routerLink="/add-trip" class="btn btn-primary">Neue Fahrt eintragen</a>
        <!-- <a routerLink="/search-trip" class="btn btn-secondary">Nach Fahrten suchen</a> -->
      </p>
    </div>
  </section>

  <section class="text-center">
    <div class="container">
      <h2>Aktuell angeboteten Fahrten</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Startzeit</th>
            <th scope="col">Startort</th>
            <th scope="col">Zielzeit</th>
            <th scope="col">Zielort</th>
            <th scope="col">Benutzer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of currentTrips">
            <td>{{ trip.starTime | date : 'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ trip.startLocation }}</td>
            <td>{{ trip.endTime | date : 'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ trip.endLocation }}</td>
            <td>{{ trip.offeredBy }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
